# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment directories
venv/
code_snippet_venv/

# Ignore IDE configurations
.vscode/

# Ignore FastAPI-specific temporary files
*.db
*.sqlite3

# Ignore environment variable files
.env
